<!DOCTYPE html>
<html lang="<%-config.lang%>">
    <%- include(`../../../page_info.ejs`, {config, content}) %>


<%# HEAD %>
<%- include(`../../head/${config.headVersion}/index.ejs`, {config}) %>

    <body>

        <%# BODY_BEGIN_ASSETS %>
        <% assets.filter(asset => asset.position === 'body_begin').forEach(asset => { %>
            <%- include(`../../assets/${asset.clazz}`, { asset }) %>
        <% }) %>

        <%# HEADER %>
        <%- headerHTML %>
        
        <%# MAIN %>
        <% for (areaHTMLObject of areaHTMLObjectArr) { %>
            <%- areaHTMLObject.html %>
        <% } %>
        
        <%# FOOTER %>
        <%- footerHTML %>

        <%# BODY_END_ASSETS %>
        <% assets.filter(asset => asset.position === 'body_end').forEach(asset => { %>
            <%- include(`../../assets/${asset.clazz}`, { asset }) %>
        <% }) %>
    </body>

</html>