<%- include(`../../../block_info.ejs`, {config}) %>

<a data-block-uuid="<%-config.uuid%>" class="<%- content.data.classes %>" href="<%- content.data.linkHref %>">
    <%- content.data.linkText %>
</a>