<%- include(`../../../block_info.ejs`, {config}) %>

<div data-block-uuid="<%-config.uuid%>">
    <% if(content.data.tag) { %>
        <<%- content.data.tag %>>
    <% } %>
        <%=content.data.text%>
    <% if(content.data.tag) { %>
        </<%- content.data.tag %>>
    <% } %>
</div>